<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ChatBotSystem</title>
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/footer.css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
	integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
	crossorigin="anonymous"></script>
</head>
<body>
	<header class="header"> ChatBot_nxx5xxx </header>
	<main class="main">
		<div>채팅창 본문이 입력될 곳</div>
		<ul class="bot">
			<li class="">봇</li>
			<li class="bot_content">안녕하세요 사용자님 무엇을 도와드릴까요?</li>
			<li class="bot_content">처음 이용의 경우 도움말을 입력해보세요</li>
		</ul>

		<!-- <ul class="human">
	<li>
	사람
	</li>
	<li class="human_content">
	사람 본문
	</li>
</ul> -->
	</main>
	<footer class="footer">
		<div class="ft_inputBox">
<!-- 			<form onsubmit="form_send()"> -->
				<input class="ft_input" name="title" id="title"
				onkeypress='if(event.keyCode==13){form_send();}'> 
				<button type="button" class="ft_send" onclick="form_send()">전송</button>
				<!-- onKeypress='event.keyCode==13 ? form_send() : false'> -->
<!-- </form> -->
		</div>
	</footer>
	<script>
	function form_send(){
 		/*		alert($("#title").val()); */
		const human_msg = $("#title").val();
 		if(human_msg==''){
 			$(".main").append(
 					`<ul class="bot">
 					<li class="">봇</li>
 					<li class="bot_content">메시지를 입력해주세요</li>
 					</ul>`
 					);
 		}else{
			$(".main").append(`<ul class="human"><li>사람</li><li class="human_content">${human_msg}</li></ul>`);
			let bot_msg = null;
			$.ajax({
				type:"get",
				dataType:"text",
				url:"/send.do",
				encType:"UTF-8",
				async:false,
				data: {title : human_msg},
				success : function(data){
					/* alert(data); */
					bot_msg = data;
				},
				error:function(request, status, error){
					/* alert('에러발생'); */
			        console.log("에러상태: " + request.status)
			        console.log("에러메세지: " + request.responseText)
			        console.log("error: " + error);
				}
			});
			$(".main").append(
					`<ul class="bot">
					<li class="">봇</li>
					<li class="bot_content">${bot_msg}</li>
					</ul>`
					);
			let scrH = $('.main').prop('scrollHeight');
			$('.main').scrollTop(scrH);
			$('#title').val('');
 		}
	}
	</script>
</body>
</html>