<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ChatBotSystem</title>
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/footer.css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
	integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
	crossorigin="anonymous"></script>
</head>
<body>
	<header class="header"> ChatBot_nxx5xxx </header>
	<main class="main">
		<div>채팅창 본문이 입력될 곳</div>
		<ul class="bot">
			<li class="">봇</li>
			<li class="bot_content">안녕하세요 사용자님 무엇을 도와드릴까요?</li>
			<li class="bot_content">처음 이용의 경우 도움말을 입력해보세요</li>
		</ul>

		<!-- <ul class="human">
	<li>
	사람
	</li>
	<li class="human_content">
	사람 본문
	</li>
</ul> -->
	</main>
	<footer class="footer">
		<div class="ft_inputBox">
<!-- 			<form onsubmit="form_send()"> -->
				<input class="ft_input" name="title" id="title"
				onkeypress='if(event.keyCode==13){form_send();}'> 
				<button type="button" class="ft_send" onclick="form_send()">전송</button>
				<!-- onKeypress='event.keyCode==13 ? form_send() : false'> -->
<!-- </form> -->
		</div>
	</footer>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4e5844a91d6f6ebd1c2d952b89252020&libraries=services"></script>
	<script>
	
	//카카오api로 주소를 좌표로 바꾸기
	let position_x='';
	let position_y='';
	let weather_info;
	let scrH;
	
		//채팅창 초기화하고 스크롤 가작 하단으로 내리는 펑션
		function chat(){
			scrH = $('.main').prop('scrollHeight');
			$('.main').scrollTop(scrH);
			$('#title').val('');
		}
		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();
		// 주소로 좌표를 검색합니다
		function trans_addr(addr){
			console.log(addr);
			geocoder.addressSearch(addr, function(result, status) {
			
			    // 정상적으로 검색이 완료됐으면 
			     if (status === kakao.maps.services.Status.OK) {
			    	 //다음주소api이용해서 뽑아온 좌표데이터를 넣어주기  
			    	 position_x=result[0].x;
			    	 position_y=result[0].y;
						//console.log(position_y);
						//console.log(position_x);
						
					//openweather api로 해당 위도 경도를 이용해서 날씨정보 받아오기
					fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${position_y}&lon=${position_x}&appid=f936e6272f17969d1930e3c4f00dc158&units=metric`)
				    .then(res=>res.json())
				    .then(function(json){
				    	weather_info=json.main;
				    	//console.log(weather_info);
							$(".main").append(
									`<ul class="bot">
									<li class="bot_content">
									현재 온도는 <span class='red'>${weather_info.temp}°C</span> 이며,
									 체감온도는 <span class='red'>${weather_info.feels_like}°C</span> 입니다.
									</li>
									</ul>`
									);
							chat();
				    	}
				    );
			    } 
			});
		}
	//여기까지
	
	// 채팅창입력부분
	function form_send(){
 		/*		alert($("#title").val()); */
		const human_msg = $("#title").val();
 		if(human_msg==''){
 			$(".main").append(
 					`<ul class="bot">
 					<li class="">봇</li>
 					<li class="bot_content">메시지를 입력해주세요</li>
 					</ul>`
 					);
 			chat();
 		}else if(human_msg.endsWith(' 날씨정보')){
 			$(".main").append(
 					`<ul class="human">
 					<li>사람</li>
 					<li class="human_content">${human_msg}</li>
 					</ul>`
 					);
			$(".main").append(
					`<ul class="bot">
					<li class="">봇</li>
					<li class="bot_content">${human_msg} 에 대해 검색하셨습니다</li>
					</ul>`
					);
			trans_addr(human_msg.substring(0,human_msg.length-5));

		}else{
			$(".main").append(`<ul class="human"><li>사람</li><li class="human_content">${human_msg}</li></ul>`);
			let bot_msg = null;
			$.ajax({
				type:"get",
				dataType:"text",
				url:"/send.do",
				encType:"UTF-8",
				async:false,
				data: {title : human_msg},
				success : function(data){
					/* alert(data); */
					bot_msg = data;
				},
				error:function(request, status, error){
					/* alert('에러발생'); */
			        console.log("에러상태: " + request.status)
			        console.log("에러메세지: " + request.responseText)
			        console.log("error: " + error);
				}
			});
			$(".main").append(
					`<ul class="bot">
					<li class="">봇</li>
					<li class="bot_content">${bot_msg}</li>
					</ul>`
					);
			chat();
 		}
	}
	
	function tmpBtn(x){
		/* alert(x.innerText); */
		$('#title').val(x.innerText);
		form_send();
	}
	</script>

</body>
</html>