<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ChatBotSystem</title>
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<header class="header">
ChatBot_nxx5xxx
</header>
<main class="main">
<div>채팅창 본문이 입력될 곳</div>
<ul class="bot">
	<li class="">
	봇
	</li>
	<li class="bot_content">
	봇 본문
	</li>
</ul>

<ul class="human">
	<li>
	사람
	</li>
	<li class="human_content">
	사람 본문
	</li>
</ul>
</main>
<footer class="footer">
<div class="ft_inputBox">
	<form>
	<input class="ft_input">
	<input type="submit" class="ft_send" value="전송">
	</form>
</div>
</footer>
</body>
</html>